.headline {
  width: 60%;
  margin-top: -70px;
}
.hunianmilenial {
  width: 90%;
}
.text-primary {
  color: #00a3d7 !important;
}
.line1 p {
  line-height: 2.5;
  font-weight: lighter;
}
.bold {
  font-weight: bold !important;
}
.rm8-padding {
  padding-top: 200px;
}
.rm4-padding {
  padding-top: 110px;
  padding-bottom: 110px;
}
.rm2-padding {
  padding: 2rem 0 !important;
}
.rm0-padding {
  padding: 0rem;
}
.col img {
  width: 20%;
}
.gridfasilitas {
}

.grid4 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  width: 783px;
}
.grid6 {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  width: 775px;
}
.grid-item {
  text-align: center;
}
.grid-item img {
  width: 100%;
}
.bg-ditengah {
  background-image: url("../assets/Background/Foto-Yang-Di-Tengah-HD.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 610px;
}
.bg-dibawah {
  background-image: url("../assets/Background/Foto-Yang-Di-Bawah-HD.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
}
.buttontower {
  width: 49%;
  padding: 20px;
}
.buttontower img {
  box-shadow: 5px 10px 18px #888888;
}
.textbuttontower {
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg-tower {
  background-image: url("../assets/Background/Blok-Warna-Tower-Urban-&-Foto-Slider.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
}
.naik {
  margin-top: -30%;
  text-align: center;
  color: white;
}
.buttonimage {
  padding-left: 59px;
  margin-left: 41px;
}
.buttonimage img {
  margin-right: 10px;
  padding: 10px;
  width: 45%;
}
.bg-blue {
  background-color: #00a3d7;
}
.non {
  font-weight: lighter !important;
}
.bg-towerdetail {
  background-image: url("../assets/Background/Blok-Warna-Tower-Urban-&-Foto-Slider.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 250px;
}

.bg-supergrafis {
  background-image: url("../assets/Background/Supergrafis\ BG.png"),
    url("../assets/Background/Supergrafis-pilihan-antara-tower-urban-dan-milenia.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right;
  background-size: 52%, 93%;
  background-position-y: 40px, 135px;
  background-position-x: 732px, 38px;
}
.mg-top {
  margin-top: -50px;
}
.img-50 {
}
.img-50 img {
  width: 100%;
}
.bg-supergrafis2 {
  background-image: url("../assets/Background/Supergrafis\ BG.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right;
  background-size: 52%, 93%;
  background-position-y: 40px, 135px;
  background-position-x: 732px, 38px;
}
.bg-kontak {
  background-image: url("../assets/Background/Background-kontak-map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
}
.bg-daftar {
  background-image: url("../assets/Background/Background-Siap-Daftar.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
}
.no-bottom p {
  margin-bottom: 0px !important;
}
.padding-right {
  padding-left: 56px;
}
.bg-footer {
  background-image: url("../assets/Background/Supergrafis\ BG.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right;
  background-size: 52%, 93%;
  background-position-y: 35px;
  background-position-x: 890px;
  height: 350px;
}
.img-30 img {
  width: 30% !important;
}
h2 {
  font-size: 2rem;
  overflow: hidden;
  font-weight: bold;
}

h2:after {
  content: "";
  display: inline-block;
  height: 0.55em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 2px solid #00a3d7;
}
.blue {
  color: #00a3d7;
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.slider {
  width: 1100px;
  height: 350px;
  margin-left: -206px;
  margin-top: -113px;
}
.btn-nav {
  margin-left: -65px;
}
